*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    padding: 30px 40px;   
}
#nav h3{
    background-color: #000;
    color: #fff;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 50px;
}
#intro{
    width: 100%;
    height: 40%;
    padding: 50px;
    /* background-color: aquamarine; */
}
#intro h1{
    font-size: 80px;
    line-height: 80px;
}
#place{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#place h3{
    font-size: 13px;
}
#place h4{
    font-size: 13px;
}
#hero-image{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1556157382-97eda2d62296?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    margin-top: 20px;
}
#about{
    height: 45%;
    width: 100%;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 50px ;
}
#about h2{
    width: 60%;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
#about-part2{
    padding-left: 10px;
    padding-bottom: 10px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-left: 1px solid black;
}
#about-part2 #icons i{
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    padding: 10px;
}
#work{
        height: 60%;
        width: 100%;
        padding: 50px 60px;
        border-top: 1px solid #000;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
}
#work #work1{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #000;
    padding-right: 60px;
}
#work1 i{
    font-size: 25px;
}
#work #work2{
    width: 70%;
    padding: 0px 60px;
}
.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.work2-part:nth-child(1){
    border-bottom: 1px solid #000;
}
.work2-part .elem{
    width: 50%;
    height: 100%;
}
.work2-part .elem h4{
    font-size: 20px;
}
.work2-part .elem p{
    font-size: 13px;
    font-weight: 500;
}
.work2-part .elem:nth-child(1){
    border-right: 1px solid #000;
}

.work2-part .elem:nth-child(2){
    padding-left: 15px; 
}
